.priceIn{
  margin-top: -45px;
  z-index: 99;
  background-color: gray;
  width: 70%;
  text-align: center;
  color: white;
}

.container-fluid{
  padding: 0px !important;
}

body{
  font-family: 'Arimo', sans-serif !important;
}

.descriptionHotel p{
  text-align: justify;
}
